extends layout
block header
    link(rel='stylesheet', href='styles/login.bundle.css')

    script(src="https://apis.google.com/js/api.js")
    script(src='//developers.kakao.com/sdk/js/kakao.min.js')
    script(src='./scripts/login.bundle.js')

block content
    div.container.login_container
        div.row
            h1.login_h1 로그인
            div.col-sm-6.login_btn_container
                button.login_btn.login_btn_facebook#login_btn_facebook
                br
                button.login_btn.login_btn_google#login_btn_google
                br
                button.login_btn.login_btn_kakao#login_btn_kakao
                br
                div.login_btn_naver#naver_id_login
            div.col-sm-6
                form
                    div.form-group
                        label(for='id') 아이디
                        input.form-control#id(type='text' placeholder='Enter ID')
                    div.form-group
                        label(for='password') 비밀번호
                        input.form-control#password(type='password' placeholder='Enter Password')
                    div.form-group
                        input(type='checkbox' value='Y' id='check')
                        label(for='check')   아이디 기억

                        ul.list-inline.login_helper
                            li
                                a(href="#") 회원가입
                            li
                                a(href="#") 아이디/비밀번호 찾기
                    hr
                    input(type='submit' value='로그인').btn.btn-info.pull-right
