extends layout
block header

    link(rel='stylesheet', href='styles/login.bundle.css')

    script(src="https://apis.google.com/js/api.js")
    script(src='//developers.kakao.com/sdk/js/kakao.min.js')
    script(src='./scripts/login.bundle.js')

block content
    h1 로그인
    div.container
        div.row
            div.col-sm-6(style="text-align:center;")
                a(href="#" )#login_btn_facebook
                    img(src='./img/facebook.png' style='margin-bottom:3px;').img-rounded
                br

                button(class="form-control btn" style="background-image:url('./img/google.png')")#login_btn_google
                a(href="#" )
                    img(src='./img/google.png' style='margin-bottom:3px;').img-rounded

                br
                a(href="#" )#login_btn_kakao
                    img(src='./img/kakao.png' style='margin-bottom:3px;' ).img-rounded
                br
                a(href="#")#naver_id_login
                img(src='./img/naver.png' style='margin-bottom:3px;' ).img-rounded

            div.col-sm-6
                form
                    div.form-group
                        label(for='id') 아이디
                        input.form-control#id(type='text' placeholder='Enter ID')
                    div.form-group
                        label(for='password') 비밀번호
                        input.form-control#password(type='password' placeholder='Enter Password')
                    div.form-group.text-left

                        input(type='checkbox' value='Y' id='check')
                        label(for='check')   아이디 기억

                    ul.list-inline.text-right
                        li
                            a(href="#") 회원가입
                        li
                            a(href="#") 아이디/비밀번호 찾기
                    hr
                    h2
                        input(type='submit' value='로그인').btn.btn-info.pull-right
