extends layout
block header
    //카카오 로그인을 위한 js 파일 가져오기
    script(src='//developers.kakao.com/sdk/js/kakao.min.js')

    //네이버 로그인을 위한 js 파일 가져오기
    script(src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js" charset="utf-8")
    //script(src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js")

    script(src='./scripts/login.bundle.js')
    link(rel='stylesheet', href='styles/login.bundle.css')
block content
    h1 로그인
    div.container
        div.row
            div.col-sm-6(style="text-align:center;")
                a(href="#" )#login_btn_facebook
                    img(src='./img/facebook.png' style='margin-bottom:3px;').img-rounded
                br
                a(href="#" )#login_btn_google
                    img(src='./img/google.png' style='margin-bottom:3px;').img-rounded
                br
                a(href="#" )#login_btn_kakao
                    img(src='./img/kakao.png' style='margin-bottom:3px;' ).img-rounded
                br
                a(href="#")#naver_id_login
                img(src='./img/naver.png' style='margin-bottom:3px;' ).img-rounded

                script.
                    var naver_id_login = new naver_id_login("VxgHymo8VpJl3iyxveUB", "http://localhost:3000/");
                    var state = naver_id_login.getUniqState();
                    naver_id_login.response_type = "code";
                    naver_id_login.setButton("green", 3, 40);
                    naver_id_login.setDomain("http://localhost:3000/login");
                    naver_id_login.setState(state);
                    naver_id_login.init_naver_id_login();

            div.col-sm-6
                form
                    div.form-group
                        label(for='id') 아이디
                        input.form-control#id(type='text' placeholder='Enter ID')
                    div.form-group
                        label(for='password') 비밀번호
                        input.form-control#password(type='password' placeholder='Enter Password')
                    div.form-group.text-left

                        input(type='checkbox' value='Y' id='check')
                        label(for='check')   아이디 기억

                    ul.list-inline.text-right
                        li
                            a(href="#") 회원가입
                        li
                            a(href="#") 아이디/비밀번호 찾기
                    hr
                    h2
                        input(type='submit' value='로그인').btn.btn-info.pull-right
