extends layout
block header
    script(src='scripts/commons.chunk.bundle.js')
    script(src='scripts/login.bundle.js')
    link(rel='stylesheet', href='styles/login.bundle.css')
block content
    div(class='navbar navbar-default')
        
