extends layout

block header
    script(src='/scripts/signup.bundle.js')

    link(rel='stylesheet', href='/styles/login.bundle.css')
block content
    h1 회원가입
    div.container(style="max-width:1000px")
        div.row
            div.col-sm-6
                div.row
                    div.col-sm-12
                        //img(src='/images/image.jpg')
            div.col-sm-6
                form#userForm( action='/api/auth/signup' method='post')
                    div.form-group#emailGroup
                        label(for='email') 이메일
                        input.form-control#email(type='email' placeholder='email 형식에 맞게 입력  ' name='email')
                    div.form-group
                        label(for='password') 비밀번호
                        input.form-control#password(type='password' placeholder='영문,숫자,특수문자 8~16자' name='password')
                    div.form-group#passwordGroup
                        label(for='passwordConfirm') 비밀번호 확인
                        input.form-control#passwordConfirm(type='password' placeholder='Enter PasswordConfirm')
                    div.form-group
                        label(for='email') 닉네임
                        input.form-control#nickname(type='text' placeholder='Enter Email' name='nickname')
                    div.form-group
                        label 생년월일
                        div.row
                            div.col-sm-4(style="margin-bottom:5px;")
                                select.form-control#year(name='year')
                            div.col-sm-4(style="margin-bottom:5px;")
                                select.form-control#month(name='month')
                            div.col-sm-4(style="margin-bottom:5px;")
                                select.form-control#date(name='date')
                        div.row(style="margin-top:5px; text-align:center;")
                            a(href="#" data-toggle="tooltip" data-placement="bottom" title="생일 알림 기능을 위한 수집") 생년월일 정보 수집이유
                    hr
                    div.form-group
                        div.col-sm-4.col-sm-offset-9
                            button.btn.btn-info(type='submit') 가입
                            span &nbsp;&nbsp;&nbsp;&nbsp;
                            button.btn.btn-danger(type='reset') 취소